body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 0;
}
/* Header Section */
.Header {
  min-height: 5vh;
  background-color: #64B5F6;
  margin: 0;
  border: none;
  border-radius: 0;
}
.InfoBanner {
  min-height: 5vh;
  background-color: #D9EDF7;
  margin: 0;
  border-radius: 0;
}
/* CryptoList Section */
.CryptoList {
  height: 65vh;
  overflow-y: auto;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
}
.CryptoHeader {
  display: flex;
  align-items: center;
  min-height: 10vh;
  background-color: #90CAF9;
  z-index: 1;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
}
.CryptoCard {
  display: flex;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(255, 255, 255);
}
.CryptoCardSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  border-bottom: 1px solid #d1d8e0;
}
.Banners {
  margin: 0;
}
.SearchBarWrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d1d8e0;
}
.SearchBarContainer {
  height: 8vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.SearchBar {
  height: 8vh;
  border: none;
  box-shadow: none;
  margin: 0;
  border-radius: 0;
}
.SearchIcon {
  width: 100px;
  height: 100px;
}