body {
  background-color: #d1d8e0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 10vh;
  background-color: #0d47a1;
  margin: 0;
}
.CryptoList {
  height: 60vh;
  overflow-y: scroll;
}
.CryptoHeader {
  display: flex;
  align-items: center;
  min-height: 10vh;
  background-color: #5e91f2;
  z-index: 1;
  -webkit-box-shadow: 5px 10px 19px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 5px 10px 19px 0px rgba(0,0,0,0.15);
  box-shadow: 5px 10px 19px 0px rgba(0,0,0,0.15);
}
.CryptoCard {
  display: flex;
  align-items: center;
  min-height: 15vh;
  background-color: #f5f6fa;
}
.CryptoCardSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  border-bottom: 1px solid #d1d8e0;
}
.Banners {
  margin: 0;
}
.DropDownText {
  color: #ffffff;
  font-size: 2vmin;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
